@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400;600&display=swap');

* {
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100vh;
    overflow: hidden   ;
}

.heard {
    color: rebeccapurple;
    position: fixed;
    animation: move linear;
}

.beath {
    color: darkmagenta;
    font-size: 100vh;
    animation: beat linear .5s infinite alternate;
	transform-origin: center;
    text-shadow:  0px 0px 15px darkmagenta;
    user-select: none;
    opacity: 10%;

}

@keyframes move {
    from {top: -100px;}
    to {top: 110vh;}
}

@keyframes beat {
    to {transform: scale(1.2);}
    
}

@media  (max-width: 765px) {
    .beath {
        font-size: 70vw;
    }    
}
